.jumbotron {
   background-color: mediumpurple;
   color: white;
}
.footer{
    background-color: thistle;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #512da8;
}
#reserve h3{
    background-color: rgb(255, 196, 0);
    color: white;

}
.jumbotron a{
    text-decoration:none;
    color: black;
}
.row-content{
    margin-top: 50px;
    margin-bottom: 50px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}